*.o
*.routez
*~
.*.swp
aclocal.m4
autom4te.cache
config.log
config.mk
config.status
configure
libroutez.so
libroutez.so
python/tripgraph.py
python/tripgraph_wrap_py.cc
python/_tripgraph.so
ruby/tripgraph_wrap_rb.cc
tags
testgraph
