*.o
*.routez
*~
.*.swp
aclocal.m4
autom4te.cache
config.log
config.mk
config.status
configure
libroutez.so
python/libroutez/tripgraph.py
python/libroutez/tripgraph_wrap_py.cc
python/libroutez/_tripgraph.so
ruby/routez.so
ruby/routez_wrap_rb.cc
ruby/routez_wrap_rb.o
tags
examples/testgraph
