*.d
*.o
*.routez
*~
.*.swp
aclocal.m4
autom4te.cache
config.log
config.mk
config.status
configure
examples/loadgraph
examples/testgraph
libroutez.so
python/libroutez/_tripgraph.so
python/libroutez/tripgraph.py
python/libroutez/tripgraph_wrap_py.cc
ruby/routez.so
ruby/routez_wrap_rb.cc
ruby/routez_wrap_rb.o
t/all.t
tags
